# Data Cleaning & Exploration - Superstore

## Import Libraries

In [1]:
# Import packages
import pandas as pd
import numpy as np

## Load Dataset

In [2]:
# Import dataset
ss = pd.read_csv('/Users/raheem-gsu/Documents/Github Portfolio Projects/E-commerce-Sales-Analysis/Datasets/Sample - Superstore.csv')

## Initial Data Inspection

In [3]:
# View dataset
ss.head()

,row_id,order_id,order_date,ship_date,ship_mode,customer_id,customer_name,segment,country,city,...,postal_code,region,product_id,category,sub_category,product_name,sales,quantity,discount,profit
0,1,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,3,CA-2016-138688,6/12/2016,6/16/2016,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,4,US-2015-108966,10/11/2015,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,5,US-2015-108966,10/11/2015,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164

In [4]:
# Dataset information
ss.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   row_id         9994 non-null   int64
 1   order_id       9994 non-null   object
 2   order_date     9994 non-null   object
 3   ship_date      9994 non-null   object
 4   ship_mode      9994 non-null   object
 5   customer_id    9994 non-null   object
 6   customer_name  9994 non-null   object
 7   segment        9994 non-null   object
 8   country        9994 non-null   object
 9   city           9994 non-null   object
 10  state          9994 non-null   object
 11  postal_code    9994 non-null   int64
 12  region         9994 non-null   object
 13  product_id     9994 non-null   object
 14  category       9994 non-null   object
 15  sub_category   9994 non-null   object
 16  product_name   9994 non-null   object
 17  sales          9994 non-null   float64
 18  quantity       9994 non-null   int64
 19  discount       9994 non-null   float64
 20  profit         9994 non-null   float64
dtypes: float64(3), int64(3), object(15)
memory usage: 1.6+ MB

# Data Cleaning

In [5]:
# Original row count: 9994

# Drop duplicate rows
ss.drop_duplicates(inplace=True)
ss.shape

(9994, 21)

In [6]:
# Change order_date and ship_date to default DATE format
ss['order_date'] = pd.to_datetime(ss['order_date'])
ss['ship_date'] = pd.to_datetime(ss['ship_date'])
ss[['order_date', 'ship_date']].head(20)

   order_date  ship_date
0  2016-11-08 2016-11-11
1  2016-11-08 2016-11-11
2  2016-06-12 2016-06-16
3  2015-10-11 2015-10-18
4  2015-10-11 2015-10-18
5  2014-06-09 2014-06-14
6  2014-06-09 2014-06-14
7  2014-06-09 2014-06-14
8  2014-06-09 2014-06-14
9  2014-06-09 2014-06-14
10 2014-06-09 2014-06-14
11 2014-06-09 2014-06-14
12 2017-04-15 2017-04-20
13 2016-12-05 2016-12-10
14 2015-11-22 2015-11-26
15 2015-11-22 2015-11-26
16 2014-11-11 2014-11-18
17 2014-05-13 2014-05-15
18 2014-08-27 2014-09-01
19 2014-08-27 2014-09-01

In [7]:
# For simplicity, we're going to round the sales and profit columns by two decimal points.
ss['sales'] = round(ss['sales'], 2)
ss['profit'] = round(ss['profit'], 2)
ss[['sales', 'profit']].head(20)

      sales  profit
0    261.96   41.91
1    731.94  219.58
2     14.62    6.87
3    957.58 -383.03
4     22.37    2.52
5     48.86   14.17
6      7.28    1.97
7    907.15   90.72
8     18.50    5.78
9    114.90   34.47
10  1706.18   85.31
11   911.42   68.36
12    15.55    5.44
13   407.98  132.59
14    68.81 -123.86
15     2.54   -3.82
16   665.88   13.32
17    55.50    9.99
18     8.56    2.48
19   213.48   16.01

In [8]:
# View customer names with junk characters
pattern = r'[^a-zA-Z0-9\s]'

ss[ss['customer_name'].str.contains(pattern, regex = True)]['customer_name'].drop_duplicates()

3          Sean O'Donnell
46      Patrick O'Donnell
282         Jas O'Carroll
326       Patrick O'Brill
404       Roy Franzï¿½sisch
494          Rose O'Brian
626          Meg O'Connel
668          Resi Pï¿½lking
748          Peter Bï¿½hler
759     Barry Franzï¿½sisch
1041        Mary O'Rourke
1489           Corey-Lock
2631       Jason Fortune-
3023            Joy Bell-
3444        Jack O'Briant
3446        Anna Hï¿½berlin
3502    Russell D'Ascenzo
4236     Neil Franzï¿½sisch
5837       Doug O'Connell
6133    Anthony O'Donnell
Name: customer_name, dtype: object

In [9]:
# There are two names with a '-' on the right end. Let's remove them.

# Removing the dash from the right end of last names
ss['customer_name'] = ss['customer_name'].str.strip('-')

In [10]:
# Verify fixed names
ss[ss['customer_name'].isin(['Jason Fortune', 'Joy Bell'])]['customer_name'].drop_duplicates()

2631    Jason Fortune
3023         Joy Bell
Name: customer_name, dtype: object

In [11]:
# Fixing last names with junk characters
ss['customer_name'] = ss['customer_name'].str.replace('Franzï¿½sisch', 'FranzÃ¶sisch')
ss['customer_name'] = ss['customer_name'].str.replace('Pï¿½lking', 'PÃ¶lking')
ss['customer_name'] = ss['customer_name'].str.replace('Bï¿½hler', 'BÃ¼hler')
ss['customer_name'] = ss['customer_name'].str.replace('Hï¿½berlin', 'HÃ¼berlin')

ss[ss['customer_name'].str.contains(pattern, regex = True)]['customer_name'].drop_duplicates()

3          Sean O'Donnell
46      Patrick O'Donnell
282         Jas O'Carroll
326       Patrick O'Brill
404       Roy FranzÃ¶sisch
494          Rose O'Brian
626          Meg O'Connel
668          Resi PÃ¶lking
748          Peter BÃ¼hler
759     Barry FranzÃ¶sisch
1041        Mary O'Rourke
1489           Corey-Lock
3444        Jack O'Briant
3446        Anna HÃ¼berlin
3502    Russell D'Ascenzo
4236     Neil FranzÃ¶sisch
5837       Doug O'Connell
6133    Anthony O'Donnell
Name: customer_name, dtype: object

In [12]:
# View product names with junk characters
ss[ss['product_name'].str.contains(pattern, ' ')]['product_name']

1       Hon Deluxe Fabric Upholstered Stacking Chairs,...
2       Self-Adhesive Address Labels for Typewriters b...
4                          Eldon Fold 'N Roll Cart System
5       Eldon Expressions Wood and Plastic Desk Access...
8       DXL Angle-View Binders with Locking Rings by S...
                              ...
9987    Logitech G430 Surround Sound Gaming Headset wi...
9988                      Panasonic KX - TS880B Telephone
9990    Tenex B1-RE Series Chair Mats for Low Pile Car...
9992    It's Hot Message Books with Stickers, 2 3/4" x 5"
9993    Acco 7-Outlet Masterpiece Power Center, Wihtou...
Name: product_name, Length: 4766, dtype: object

product_name is mostly fine but some products have a particular junk character 'ï¿½' within it. Let's remove it.

In [13]:
# View products with 'ï¿½'
ss[ss['product_name'].str.contains('ï¿½', regex=True)]['product_name']

11          Konftel 250 Conferenceï¿½phoneï¿½- Charcoal black
26       Imationï¿½8GB Mini TravelDrive USB 2.0ï¿½Flash Drive
47      Imationï¿½8gb Micro Traveldrive Usb 2.0ï¿½Flash Drive
59      Imationï¿½8gb Micro Traveldrive Usb 2.0ï¿½Flash Drive
86      Logitechï¿½LS21 Speaker System - PC Multimedia -...
                              ...
9803    Plantronics CS 50-USB -ï¿½headsetï¿½- Convertible,...
9862    Imationï¿½USB 2.0 Swivelï¿½Flash Driveï¿½USBï¿½flash d...
9949                          Maxellï¿½LTO Ultrium - 800 GB
9950               Logitechï¿½MX Performance Wireless Mouse
9960                KeyTronicï¿½E03601U1 -ï¿½Keyboardï¿½- Beige
Name: product_name, Length: 278, dtype: object

In [14]:
# Removes junk character from product names
ss['product_name'] = ss['product_name'].str.replace('ï¿½', ' ')
ss[ss['product_name'].str.contains(pattern, regex=True)]['product_name']

1       Hon Deluxe Fabric Upholstered Stacking Chairs,...
2       Self-Adhesive Address Labels for Typewriters b...
4                          Eldon Fold 'N Roll Cart System
5       Eldon Expressions Wood and Plastic Desk Access...
8       DXL Angle-View Binders with Locking Rings by S...
                              ...
9987    Logitech G430 Surround Sound Gaming Headset wi...
9988                      Panasonic KX - TS880B Telephone
9990    Tenex B1-RE Series Chair Mats for Low Pile Car...
9992    It's Hot Message Books with Stickers, 2 3/4" x 5"
9993    Acco 7-Outlet Masterpiece Power Center, Wihtou...
Name: product_name, Length: 4688, dtype: object

# Exploratory Data Analysis (EDA)

## Descriptive Statistics

In [15]:
# Summary statistics of numerical fields
ss.describe()

,row_id,order_date,ship_date,postal_code,sales,quantity,discount,profit
count,9994.000000,9994,9994,9994.000000,9994.000000,9994.000000,9994.000000,9994.000000
mean,4997.500000,2016-04-30 00:07:12.259355648,2016-05-03 23:06:58.571142912,55190.379428,229.857980,3.789574,0.156203,28.656848
min,1.000000,2014-01-03 00:00:00,2014-01-07 00:00:00,1040.000000,0.440000,1.000000,0.000000,-6599.980000
25%,2499.250000,2015-05-23 00:00:00,2015-05-27 00:00:00,23223.000000,17.280000,2.000000,0.000000,1.730000
50%,4997.500000,2016-06-26 00:00:00,2016-06-29 00:00:00,56430.500000,54.490000,3.000000,0.200000,8.665000
75%,7495.750000,2017-05-14 00:00:00,2017-05-18 00:00:00,90008.000000,209.940000,5.000000,0.200000,29.360000
max,9994.000000,2017-12-30 00:00:00,2018-01-05 00:00:00,99301.000000,22638.480000,14.000000,0.800000,8399.980000
std,2885.163629,NaN,NaN,32063.693350,623.245104,2.225110,0.206452,234.260149

## Handling Outliers

There are no outliers in this dataset!

## Handling Missing Values

In [16]:
# Total missing values from each field
ss.isnull().sum()

row_id           0
order_id         0
order_date       0
ship_date        0
ship_mode        0
customer_id      0
customer_name    0
segment          0
country          0
city             0
state            0
postal_code      0
region           0
product_id       0
category         0
sub_category     0
product_name     0
sales            0
quantity         0
discount         0
profit           0
dtype: int64

No missing values were found in this dataset!

## Viewing date ranges

In [17]:
# View date range
ss[['order_date', 'ship_date']].describe()

                          order_date                      ship_date
count                           9994                           9994
mean   2016-04-30 00:07:12.259355648  2016-05-03 23:06:58.571142912
min              2014-01-03 00:00:00            2014-01-07 00:00:00
25%              2015-05-23 00:00:00            2015-05-27 00:00:00
50%              2016-06-26 00:00:00            2016-06-29 00:00:00
75%              2017-05-14 00:00:00            2017-05-18 00:00:00
max              2017-12-30 00:00:00            2018-01-05 00:00:00

order year range: 2014 - 2017

ship year range: 2014 - 2018

In [18]:
# Original row count: 9994

# Drop duplicate rows after cleaning
ss.drop_duplicates(inplace=True)
ss.shape

(9994, 21)

# Export Cleaned Dataset

In [ ]:
# Export to CSV file
ss.to_csv('superstore (cleaned).csv')